################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChordsEditor/bin/Debug
/ChordsEditor/obj/Debug
/.vs/ChordsEditor/v14
/ChordsEditor/obj/Release
/ChordsEditor/bin/Release
